:root {
  --orange: hsl(25, 97%, 53%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);

  color: white;
}

* { font-family: 'Overpass', sans-serif; }

p {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: var(--mediumGrey);
}

h1 {
  line-height: 0;
  font-size: 1.6rem;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: var(--veryDarkBlue);
  background-size: cover;
}

.wrapper {
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(215, 22%, 15%);
  padding: 1.5rem;
  border-radius: 1.6rem;
  margin: 1.5rem;
}

br { display: none }



/* Large Screens */
@media (min-width: 1024px) {
  body { height: 100vh }
  
  .wrapper {
    padding: 2.2rem;
    margin: 0;
  }
  
  br { display: block }
}